.postItem {
    padding-left: 30px;
    min-width: 360px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 10px;
}

.postBody{
    display: flex;
    justify-content: left;
}

.postText{
    margin: 20px 10px;
    /*padding-right: 10px;*/
}

.postItem img {
margin: 10px;
/*    width: 60px;*/
/*    height: 50px;*/
/*    border-radius: 80%;*/
}