.newsBlock {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
}

.img {
    width: 269px;
    height: 162px
}

.articleDetails {
    margin: 20px 40px;
}

@media screen and (max-width: 980px) {
    .newsBlock {
        flex-direction: column;
        padding: 0;
    }
    .articleDetails {
        margin: 20px 0 0;
    }
}