.error input,
.error textarea {
    border: solid 2px darkred;
}
.error span {
    color: darkred;
}

.formSummaryError {
    border: solid 2px darkred;
    padding: 15px;
    color: rosybrown;
    width: 200px;
}