.chatMessageContainer{
    padding: 0 60px 0 0 ;
}

.name{
    font-weight: bold;
}

.message{
    margin-left: 20px;
}

@media screen and (max-width: 980px){
    .chatMessageContainer{
        padding: 0;
    }
    .message{
        margin-left: 5px;
    }
}