.header {
    grid-area: header;
    background-color: #ecedef;
    /*background-color: rgb(13, 153, 125);*/
}

.loginBlock {
    min-width: 100px;
    float: right;
}

.loginBlock:active {
    color: white;
}