.profileDataContainer{
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.name{
    text-align: center;
}

.profileLookForDataContainer{
    padding: 15px;
    background-color: #fff1d8;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.profileContactsContainer{
    padding: 15px;
    background-color: #c9feff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.lookForAJobImg{
    width: 30px;
    height: 30px;
}